.profile__avatar-edit {
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    background-image: url(../../../images/avatarEdit.svg);
    background-size: 26px 26px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.profile__avatar-edit:hover {
    opacity: 1;
    cursor: pointer;
}