.profile__container {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 880px;
    margin: 62px auto 76px;
}

@media screen and (max-width: 1100px) {
    .profile__container {
        flex-direction: column;
        max-width: 282px;
        margin-top: 42px;
        margin-bottom: 36px;
    }
}