.popup__close-button_enlarge {
    position: absolute;
    top: -40px;
    right: -40px;
}

@media screen and (max-width: 580px) {
        .popup__close-button_enlarge {
            top: -36px;
            right: 0;
}
}