.footer__copyright {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    max-width: 318px;

}

@media screen and (max-width: 900px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
        max-width: 282px;
    }   
}