.popup__close-button {
    position: absolute;
    top: -36px;
    right: 0;
    background: url(../../../images/closeButton.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    width: 32px;
    height: 32px;
    padding: 0;
    transition: .3s linear;
}

.popup__close-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 580px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
    }
}