.edit-button {
    background: url(../../../images/EditButton.svg);
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: contain;
    margin-top: 16px;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: .3s linear;
}

.edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 1100px) {
    .edit-button {
        width: 18px;
        height: 18px;
        margin-top: 9px;
    }   
}