.card__delete {
    background: url(../../../images/Trash.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 19px;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: .3s linear;
    position: absolute;
    top: 20px;
    right: 20px;
}

.card__delete:hover {
    opacity: .6;
}